<style type="text/css">

h1 {color:red; text-align:center; font-family:Times New Roman;}
h2 {text-align:center; text-decoration: underline;}
p  {color:green; font-family:Tahoma;}
ul {font-style: italic;}
ol {font-weight: bold; font-size: 20px;}

</style>